# disp driver
/dev/disp                 0777   system     system 
/dev/graphics/fb0         0777   system     system 
/dev/ion		  0777   system     system 
/dev/video0               0666   media      media
/dev/video1               0666   media      media
/dev/video2               0666   media      media
/dev/cedar_dev            0666   system     system
/dev/snd/pcmC0D0c         0777   media      media
/dev/snd/pcmC0D0p         0777   media      media
/dev/graphics/fb1         0777   system     system
/dev/ttyS0         		  0777   system     system  
/dev/ttyUSB0              0666   system     radio
/dev/ttyUSB1              0666   system     radio
/dev/ttyUSB2              0666   system     radio
/dev/ttyUSB3              0666   system     radio
/dev/ttyUSB4              0666   system     radio
/dev/g2d                  0777   system     system 
/dev/pa_dev               0666   media      media
/dev/sunxi_mem	          0666   media      media
/dev/mali		  0777   system	    graphics
/dev/block/nandf          0660   system     system
/dev/rtk_btusb            0666   bluetooth  bluetooth
