import init.sun8i.usb.rc

on post-fs-data
#	insmod  /system/vendor/modules/fatfs.ko
	# csi module
	insmod	/system/vendor/modules/videobuf-core.ko
	insmod	/system/vendor/modules/videobuf-dma-contig.ko
	insmod /system/vendor/modules/cci.ko
	insmod /system/vendor/modules/vfe_os.ko
	insmod /system/vendor/modules/vfe_subdev.ko
	insmod /system/vendor/modules/ar0330_mipi.ko
	insmod /system/vendor/modules/vfe_v4l2.ko
	# uvc sensor
	insmod /system/vendor/modules/uvcvideo.ko
#gsensor module
	insmod /system/vendor/modules/da380.ko
	insmod /system/vendor/modules/sw-device.ko

on boot
    start adbd
    start debuggerd
    start standby

service adbd /sbin/adbd
    class main
    disabled
    socket adbd stream 660 system system
    seclabel u:r:adbd:s0

# adbd on at boot in emulator

#on property:ro.kernel.qemu=1

on init
#    write /proc/sys/net/core/rmem_max 327680
#    write /proc/sys/net/core/wmem_max 327680
#    write /proc/sys/net/core/rmem_default 327680
#    write /proc/sys/net/core/wmem_default 327680
    export FRAMEBUFFER  /dev/graphics/fb0
    export MG_CFG_PATH /
    export CAMLINUX_TMP_FILE /data/~mg_tmp
    export MG_DEFAULTMODE "320x480-32bpp"
	
service startupSound /system/bin/startup_music /system/res/others/startup.wav
    class core
    oneshot

service standby /system/bin/standbyservice
    class main
    disabled
    root media
    oneshot

service ccdr /system/bin/ccdr
    class main
    oneshot

