
## Copyright (C) 2012 The Android Open Source Project
##
## USB configuration common for all android devices
##
#
#on post-fs-dataid0/f_mass_storage/lun/file
#    chown system system /sys/class/android_usb/andros_storage/lun/file
#    chmod 0660 /sys/class/android_usb/android0/f_masid0/f_rndis/ethaddr
#    chown system system /sys/class/android_usb/androis/ethaddr         
#    chmod 0660 /sys/class/android_usb/android0/f_rnd                   
#                   
## Used to disable USB when switching states                   
#on property:sys.usb.config=none                   
#    stop adbd                   
#    write /sys/class/android_usb/android0/enable 0ss 0               
#    write /sys/class/android_usb/android0/bDeviceCla                   
#    setprop sys.usb.state ${sys.usb.config}                   
#                   
## adb only USB configuration                   
## This should only be used during device bringupa standard configuration
## and as a fallback if the USB manager fails to set                    
#on property:sys.usb.config=adb                   
#    write /sys/class/android_usb/android0/enable 08d1                
#    write /sys/class/android_usb/android0/idVendor 1D002               
#    write /sys/class/android_usb/android0/idProduct ${sys.usb.config}  
#    write /sys/class/android_usb/android0/functions                    
#    write /sys/class/android_usb/android0/enable 1                   
#    start adbd                   
#    setprop sys.usb.state ${sys.usb.config}                   
#                   
## USB accessory configuration                   
#on property:sys.usb.config=accessory                   
#    write /sys/class/android_usb/android0/enable 08d1                
#    write /sys/class/android_usb/android0/idVendor 12d00               
#    write /sys/class/android_usb/android0/idProduct ${sys.usb.config}  
#    write /sys/class/android_usb/android0/functions                    
#    write /sys/class/android_usb/android0/enable 1                   
#    setprop sys.usb.state ${sys.usb.config}                   
#                   
## USB accessory configuration, with adb                   
#on property:sys.usb.config=accessory,adb                   
#    write /sys/class/android_usb/android0/enable 08d1                
#    write /sys/class/android_usb/android0/idVendor 12d01               
#    write /sys/class/android_usb/android0/idProduct ${sys.usb.config}  
#    write /sys/class/android_usb/android0/functions                    
#    write /sys/class/android_usb/android0/enable 1                   
#    start adbd                   
#    setprop sys.usb.state ${sys.usb.config}                   
#                   
## audio accessory configuration                   
#on property:sys.usb.config=audio_source                   
#    write /sys/class/android_usb/android0/enable 08d1                
#    write /sys/class/android_usb/android0/idVendor 12d02               
#    write /sys/class/android_usb/android0/idProduct ${sys.usb.config}  
#    write /sys/class/android_usb/android0/functions                    
#    write /sys/class/android_usb/android0/enable 1                   
#    setprop sys.usb.state ${sys.usb.config}                   
#                   
## audio accessory configuration, with adb                   
#on property:sys.usb.config=audio_source,adb                   
#    write /sys/class/android_usb/android0/enable 08d1                
#    write /sys/class/android_usb/android0/idVendor 12d03               
#    write /sys/class/android_usb/android0/idProduct ${sys.usb.config}  
#    write /sys/class/android_usb/android0/functions                    
#    write /sys/class/android_usb/android0/enable 1                   
#    start adbd                   
#    setprop sys.usb.state ${sys.usb.config}                   
#                   
## USB and audio accessory configuration                   
#on property:sys.usb.config=accessory,audio_source                   
#    write /sys/class/android_usb/android0/enable 08d1                
#    write /sys/class/android_usb/android0/idVendor 12d04               
#    write /sys/class/android_usb/android0/idProduct ${sys.usb.config}  
#    write /sys/class/android_usb/android0/functions                    
#    write /sys/class/android_usb/android0/enable 1                   
#    setprop sys.usb.state ${sys.usb.config}                   
#                   
## USB and audio accessory configuration, with adbb                  
#on property:sys.usb.config=accessory,audio_source,ad                   
#    write /sys/class/android_usb/android0/enable 08d1                
#    write /sys/class/android_usb/android0/idVendor 12d05               
#    write /sys/class/android_usb/android0/idProduct ${sys.usb.config}  
#    write /sys/class/android_usb/android0/functions                    
#    write /sys/class/android_usb/android0/enable 1                   
#    start adbd                   
#    setprop sys.usb.state ${sys.usb.config}                   
#h the configuration
## Used to set USB configuration at boot and to switc                   
## when changing the default configuration                   
#on property:persist.sys.usb.config=*                   
#    setprop sys.usb.config ${persist.sys.usb.config}                   
                   
                   
                   
                   
                   
                   
                   
                   
